<h1>Listing teams</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %>
    <td><%= link_to 'Show', hackathon_team_path(team.hackathon_id, team) %></td>
    <td><%= link_to 'Edit', edit_hackathon_team_path(team.hackathon_id, team) %></td>
    <td><%= link_to 'Destroy', hackathon_team_path(team.hackathon_id, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_hackathon_team_path(params[:hackathon_id]) %>
