<p id="notice"><%= notice %></p>

<h3><%= @team.name %></h3>
<h4>
  <% if @team.project %>
    <%= @team.project %>
  <% else %>
    No project stated
  <% end %>
</h4>
<h5>Teammates</h5>
<ul>
  <% @team.teammates.each do |t| %>
  <li><%= t.user.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', "/hackathons/#{@team.hackathon.id}/teams/#{@team.id}/edit" %> |
<%= link_to 'Back To Hackathon', hackathon_path(@team.hackathon) %>
