<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :cell %><br />
    <%= f.text_field :cell %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :Upload_a_photo %><br />
    <%= f.file_field :image %>
  </div>

  <%= fields_for(@user.user_skillcategories.build) do |skills| %>

    <div class="field">
      <label>Design</label>
      <input type="range" min="1" max="3" name='user_skillcategory[Design]' value="<%= user_skillcategory_default(@user, 1) %>">
      <output id="output" for="user_skillcategory[Design]">1</output>
    <div>

    <div class="field">
      <label>Frontend</label>
      <input type="range" min="1" max="3" name='user_skillcategory[Front End]' value="<%= user_skillcategory_default(@user, 2) %>">
      <output id="output" for="user_skillcategory[Frontend]">1</output>
    <div>

    <div class="field">
      <label>Backend</label>
      <input type="range" min="1" max="3" name='user_skillcategory[Back End]' value="<%= user_skillcategory_default(@user, 3) %>">
      <output id="output" for="user_skillcategory[Backend]">1</output>
    <div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>