<% if current_user.identities %>
  <div><%= image_tag facebook_pic %></div>
<% else %>
  <div><%= image_tag @user.image %></div>
<% end %>

<ul>
    <li><%= @user.name %></li>
    <li><%= @user.email %></li>
</ul>

Skills:
<ul>
   <%@user.user_skillcategories.each do |skill| %>
    <li><%= Skillcategory.where(:id => skill.skillcategory_id).first.name %> - <%= skill.level %> </li>
  <% end %>
</ul>

Hackathons:

<ul>
  <% @user.hackathons.each do |hackathon| %>
    <li><%= image_tag hackathon.image %></li>
    <li><%= hackathon.name %></li>
    <li><%= hackathon.start %></li>
    <li><%= hackathon.location %></li>
    <li><%= hackathon.price %></li>
  <% end %>
</ul>


