<% hackathons.each do |hackathon|  %>
  <div class="hackathon">
    <div>
      <h1><%= link_to hackathon.name, hackathon %></h1>
      <time><%= link_to hackathon.start.to_formatted_s(:long), hackathon, class: "time-blue-block" %><time>
        <a href="<%= hackathon_path(hackathon) %>" class="hackathon-image">
        <img src="<%= hackathon.image %>">
      </a>
    </div>
    <div>
      <p class="location">
        <%= hackathon.location %>
      </p>
      <p class="count">
        <%= hackathon.participating_users.count %> people 
      </p> |
      <p class="count">
        <%= hackathon.teams.count %> teams 
      </p>
    </div>
    <div>
      <a href="<%= hackathon_path(hackathon) %>" class="view-blue-block">Join Hackathon
      </a>
    </div>  
  </div>
<% end %>