<div id="new_hackathon_container">
  <ul id="new_hackathon_nav">
    <li>
      <%= link_to "Logistics", "#", :controller => "hackathons", :action => "skills_needed", :id => "logistics" %>
    </li>
    <li>
      <%= link_to "Skills", "#", :controller => "hackathons", :action => "skills_needed", :id => "skills_needed" %>
    </li>
    <li>
      <%= link_to "Friends", "#", :controller => "hackathons", :action => "skills_needed", :id => "friends" %>
    </li>
  </ul>
  <br><br>
  <input type='text' id='datepicker' value="<%= Date.today.to_s %>">

  <%= form_for(@hackathon) do |f| %>
    <% if @hackathon.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@hackathon.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @hackathon.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="content">

    <%= render :partial => "new_logistics", :locals => { :f => f } %>
    
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>