<section>
  <div class="row-fluid">
    <div class="span7 header-content">
      <span class="pull-left">
        <%= pluralize(@hackathon.teams.size, 'team') %> signed-up
      </span>
    </div>
    <div class="span5 dummy-content" style="margin-left: 0;">
      <%= image_tag 'map_placeholder.png', :style => 'overflow:hidden;' %>
    </div>
  </div>

  <div class="row-fluid">

    <div class="span8 subheader-content">
     
       <h3><%= @hackathon.name %></h3>
       <strong>Begins: </strong><%= @hackathon.start.to_formatted_s(:long) %><br>
       <strong>Ends: </strong><%= @hackathon.end.to_formatted_s(:long) %><br>
       <strong>Location: </strong><%= @hackathon.location %><br>
       <strong>Capacity: </strong><%= @hackathon.capacity %><br>
       <p id="hackathon-description">
        <%= @hackathon.description %><br>
       </p>
    </div>

    <div class="span4 subheader-content text-center">
      <%= form_for(@participant) do |f| %>
        <%= f.hidden_field :hackathon_id, :value => params[:id] %>
        <%= f.submit "Create Team", class: 'btn btn-primary btn-large' %>
      <% end %>
     
    </div>
  </div>

</section>

<div class="clearfix"></div>

<section>

  <div class="row-fluid">
  
    <% @hackathon.teams.each do |team| %>
      <div class="span4 team-content">
        <h4>
          <%= team.name %>
        </h4>

        <% unless @hackathon.teams.empty? %>
          <a href="/hackathons/<%=@hackathon.id%>/teammates/new" class ='btn'>Join</a>
        <% end %>
      </div>
      <!-- for ever three team, put clearfix div -->

    <% end %>
  </div>

</section>
<!-- 


<h4>Pay Up!</h4>
<#%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<#%= @hackathon.price %>.00</span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<#%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<#%= @hackathon.name %>"
          data-amount="<#%= @hackathon.price*100 %>"></script>
<#% end %> -->